/*  TOP SECTION */

.featured__products {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    .featured__products-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-left: 3rem;
        margin-right: 1rem;

        p {
            font-size: .8rem;
            color: rgb(219, 129, 129);
        }

        h1 {
            font-weight: 400;
        }

        img {
            margin-bottom: 2rem;
        }

        .btn__featured {
            border: none;
            border-radius: 2px;
            padding: .5rem;
            background-color: #FFEFBC;
            font-size: .8rem;

            transition: all .3s ease-in-out;
            &:hover {
                background-color: #ffd037;
            }
        }
    }

    .featured__products-card-container {
        display: flex;
        
        .card {
            border: none;
            border-radius: 20px;
            
            margin: 1rem;
            justify-content: center;
            align-items: center;
            box-shadow: 8px 14px 21px -7px rgba(0,0,0,0.35);

            img {
                width: 80%;
            }

            transition: all .7s ease-in-out;
                &:hover {
                    cursor: pointer;
                    box-shadow: 8px 14px 21px -7px rgba(124, 154, 187, 0.35);
                }
            
            .card__info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1rem;

                h1 {
                    font-size: .8rem;
                    font-weight: 700;
                }
                
                p {
                    color: #7C9ABB;
                    font-weight: 600;
                    font-size: 1.1rem;
                    margin-left: 2rem;
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .featured__products-banner {
            justify-content: center;
            align-items: center;
        }

        .featured__products-card-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card {
                
                display: flex;
                position: relative;
                left: 1rem;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin: 1;

                img {
                    width: 100%;
                }

                .card__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

/* MIDDLE SECTION LEFT */

.featured__products-middle-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    img {
        width: 60%;
    }

    .featured__products-middle-banner-left {
        display: flex;
        flex: .75;
        position: relative;
        right: 3rem;
        bottom: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-size: .8rem;
            color: rgb(219, 129, 129);
        }
        
        h1 {
            font-weight: 300;
        }

        img {
            width: 20%;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }

        .btn__middle-blue {
            border: none;
            border-radius: 2px;
            padding: .5rem;
            margin-top: 1rem;
            font-size: .8rem;
            background-color: #B8D1ED;

            transition: all .3s ease-in-out;
            &:hover {
                background-color: #3188ea;
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }

        .featured__products-middle-banner-left {
            display: flex;
            flex-direction: column;

            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 1rem;

            p {
                font-weight: 700;
                font-size: .9rem;
            }

            h1 {
                font-weight: 500;
            }
        }
    }
}

/* MIDDLE SECTION RIGHT */

.featured__products-middle-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    img {
        width: 60%;
    }

    .featured__products-middle-banner-right {
        display: flex;
        flex: .75;
        position: relative;
        left: 3rem;
        bottom: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-size: .9rem;
            text-transform: uppercase;
            color: rgb(219, 129, 129);
        }
        
        h1 {
            font-weight: 300;
        }

        img {
            width: 20%;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }

        .btn__middle-red {
            border: none;
            border-radius: 2px;
            padding: .6rem;
            margin-top: 1rem;
            font-size: .9rem;
            background-color: #FFCCCC;

            transition: all .3s ease-in-out;
            &:hover {
                background-color: #ff4343;
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column-reverse;

        img {
            width: 100%;
        }

        .featured__products-middle-banner-right {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 1rem;

            p {
                font-weight: 700;
            }

            h1 {
                font-weight: 500;
            }
        }
    }
}

/* BOTTOM SECTION */

.benefits__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .benefits__container-heading {
        text-align: center;

        h1 {
            font-weight: 300;
            letter-spacing: .2rem;
        }

        h2 {
            font-size: .8rem;
            font-weight: 700;
            letter-spacing: .1rem;
            text-transform: uppercase;
            color: #D18B8B;
        }
    }

    .benefits__container-content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        .benefits__container-content-card {

            h1 {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: 1.2rem;
                margin-top: 1.5rem;
                font-weight: 400;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .benefits__container-content {
            display: flex;
            flex-direction: column;
        }
    }
}

.final__img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;

    img {
        width: 50%;
        margin: 0 .8rem;
    }

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }
    }
}